:root {
    --bg-image: url("../images/background.jpg");
    --pt-yellow: #FFE063;

    --youtube: #ff0000;
    --twitter: #1da1f2;
    --twitch: #6441a5;
    --tiktok: #010101;
    --facebook: #3b5998;
    --instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
